{% extends 'core/index.html' %}
{% load static %}
{% block content %}

<!-- Image Showcases -->
<section class="showcase" style="margin: 100px">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md"></div>
            <div class="col-md">
                <div class="card box-shadow">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">
                            <input id="username" name="username" class="form-control" type="text">
                        </p>
                        <h5 class="card-title">Password</h5>
                        <p class="card-text">
                            <input id="pass" name="pass" class="form-control" type="password">
                        </p>
                        <center>
                            <a href="#" class="btn btn-primary">Login</a>
                            <a href="/register/" class="btn btn-success">Register</a>
                        </center>
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img">
                <h2>Logi by Sandtex</h2>
                <p class="lead mb-0">Logi was born out of a need to have logistic software for distribution parts. It has a unique note design which allows for many team members to quickly catch up on orders. It has services that allow for automation - invoice, tracking requests, OA requests, and the like.</p>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            </div>
        </div>
    </div>
</section>

{% endblock %}