.st-sidebar {
  width: $sidebar-width;
  overflow-x: hidden;
  transition: .4s ease;

  &.collapsed {
    width: $sidebar-width-collapsed;
  }

  &--main {
    width: $sidebar-width-collapsed;
    min-width: $sidebar-width-collapsed;
  }
}

.st-nav-link {
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
